body{
    background: #fdfdfd;
    color: #ffffff;
    font-family: sans-serif;
    font-size:20px;
}

#wrapper{
    background: #dc0e0e;
    width: 1100px;
    margin: 1px auto;
}
   
#wrapper header{
    background: #fffefe;
    padding: 15px;
}
   
#wrapper header hgroup{
    float: left;
    color: #dc0e0e;
}
   
#wrapper header nav{
    float: right;
    margin-top: 20px;
}

#wrapper header nav ul{
    padding: 10px;
    margin: 0;
}

#wrapper header nav ul li{
    float: left;
    list-style: none;
}

#wrapper header nav ul li a{
    padding: 15px;
    color: #dc0e0e;
    text-decoration: none;
}

.clear{
    clear: both;
}

footer{
    background: #f9f7f7;
    padding: 20px;
    text-align: center;
}

footer a{
    color: #dc0e0e;
    text-decoration: none;
}

section{
    padding: 20px;
}

   